{block content}
  <link href="{$basePath}/css/Register/register.css" rel="stylesheet" >
  <div class="main">
    <h1 n:block="title">{_"editUser"}</h1>
    <div class="container">
      <div class="center">
        <div n:snippet="manipulateForm">
          {form manipulateForm}
            {include '../Form/_userForm.latte'}
          {/form}
        </div>
      </div>
      <div class="side-content">
      </div>
    </div>
  </div>
{/block}
{block scripts}
    <script src="/js/userForm.js"></script>
{/block}