{block content}
  <link href="{$basePath}/css/Register/register.css" rel="stylesheet" >
  <div class="main">
    <h1 n:block="title">
      {if $formUserId === $user->id}
        {_"profile"|firstUpper}
      {else}
        {_"editUser"|capitalize}
      {/if}
    </h1>
    <div class="container">
      <div>
        <div n:snippet="manipulateForm">
          {form manipulateForm}
            {include '../Form/_userForm.latte'}
          {/form}
        </div>
      </div>
    </div>
  </div>
{/block}
{block scripts}
    <script src="/js/userForm.js"></script>
{/block}