<nav class="navbar navbar-expand-lg" id="main-menu">
  {if $cssFilePath}
    <link href="{$cssFilePath}" rel="stylesheet">
  {/if}
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img id="main-menu-logo" src="/assets/logo.png" alt="buddy-check" width="110">
    </a>
    {control searchPanel}
    {control loginMenu}
  </div>
</nav>