.main {
  height: 100%;
  display: flex;
  flex-direction: column;

  h1 {
    text-align: center;
    padding: 1.5em;
  }

  .container {
    display: flex;
    gap: 4%;
    height: 100%;

    .center {
      width: 69%;

      .invalid-feedback {
        display: none;
      }

      .is-invalid + .invalid-feedback {
        display: block;
      }
    }
    .side-content {
      height: 75%;
      width: 29%;
      background-color: darkcyan;
    }
  }
}
