services:
	- App\Core\RouterFactory::createRouter
	authenticator: App\Core\Security\UserAuthenticator
	customTranslator: App\Model\CustomTranslator(defaultLang: %defaultLang%)
	translatorExtension : Latte\Essential\TranslatorExtension(translator: @customTranslator)
	nette.latteFactory:
		setup:
			- addExtension(@translatorExtension,[@customTranslator,'translate'])

search:
	-	in: %appDir%
		classes:
			- *Factory
			- *Model
