.pass-input {
  display: flex;
  align-items: center;
  position: relative;

  i {
    position: absolute;
    right: 30px;
    cursor: pointer;
  }
}

.center-form {
  justify-content: center;
  gap: 1em;
}
